/****** UTF-8 ******/

body{
    background-color: #ffffff;
    color: #181818;
}

#bloc_page{
    width: 900px;
    margin: auto;
}
/****** Media Queries *****/
@media all and (max-width: 1024px){
    #bloc_page{
        width: auto;
    }
    nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding-left: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
    nav a:hover{
        border-bottom: 0;
    }
    .diaporama{
        display: none;
    }
    section{
        flex-direction: column;
    }
    article, aside{
        width: auto;
        margin-bottom: 15px;
    }
    #bulle{
        display: none;
    }
    #ynov img{
        width: 80px;
        float: right;
        margin-left: 15px;
    }
    aside p:last-child{
        text-align: center;
    }
    footer{

    }
}
/****** Fin Media Queries *****/

/****** Header ******/

header{
    background: url('../images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img{
    width: 60px;
    height: 50px;
    margin: 0 0 0 0;
}

header h1{
    font-family: 'Indie Flower', cursive, sans-serif;
    color: #9D3E3E;
    font-size: 33px;
    font-weight: normal;
    margin: 0 0 0 10px;
    text-shadow: 0 0 2px grey;
}
/****** Fin Header ******/

/*****Diaporama******/
.diaporama{
    margin: 35px auto;
    width: 100%;
    height: 250px;
    border: 3px solid #333;
    background-image: url("../images/hansik1.jpg");
    background-size: 100% 100%;

    animation-name: diapo1;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@-moz-keyframes diapo1{
    0%{background-image: url("../images/acras-de-morue.jpeg");}
    20%{background-image: url("../images/saucecreole.jpg");}
    40%{background-image: url("../images/hansik2.jpg");}
    60%{background-image: url("../images/tajinetutu.jpg");}
    80%{background-image: url("../images/couscous-agneau.jpg");}
    
}
@-webkit-keyframes diapo1{
    0%{background-image: url("../images/acras-de-morue.jpeg");}
    20%{background-image: url("../images/saucecreole.jpg");}
    40%{background-image: url("../images/hansik2.jpg");}
    60%{background-image: url("../images/tajinetutu.jpg");}
    80%{background-image: url("../images/couscous-agneau.jpg");}
}
@keyframes diapo1{
    0%{background-image: url("../images/acras-de-morue.jpeg");}
    20%{background-image: url("../images/saucecreole.jpg");}
    40%{background-image: url("../images/hansik2.jpg");}
    60%{background-image: url("../images/tajinetutu.jpg");}
    80%{background-image: url("../images/couscous-agneau.jpg");}
}
/***** Fin Diaporama *****/

/****** Nav ******/

nav ul{
    list-style-type: none;
    display: flex;
    font-family: 'Exo', sans-serif;
}

nav li{
    margin-right: 15px;
}

nav a{
    margin: 0 20px;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #9D3E3E;
    border-radius: 3px;
}
nav a:active{
    color: #999;
}
/***** Fin Nav ******/

/***** Section ******/

section{
    display: flex;
    margin-bottom: 20px;
    font-family: 'Exo', sans-serif;
}
section article ul{
    list-style-type: circle;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    text-align: justify;
}
article, aside{
    text-align: justify;
}

article{
    text-align: left;
    margin: 0 20px 0 0;
    flex: 3;
}

article p{
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    text-align: justify;
}
/***** Fin Main ******/

/***** Aside ******/
aside
{
    flex: 1.2;
    position: relative;
    background-color:  #a1887f;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#ynov
{
    text-align: center;
}

#ynov img
{
    width: 100px;
    height: 100px;
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}
/***** Fin Aside ******/

/***** Footer ******/
footer{
    position: relative;
    background-color:  #efebe9;
    
}
footer h3{
    font-family: 'Exo', sans-serif;
    padding: 0;
    margin: 0;
}
footer h3 a{
    display: block;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000; 
    text-decoration: none;
}
footer h3 a:hover{
    color: #000;
    text-decoration: none;
/***** Fin Footer ******/